---
import { type CollectionEntry } from "astro:content";
import { Dot } from "lucide-react";
import { Section } from ".";

interface Props {
	entry: CollectionEntry<"interests">;
	title: string;
}

const { entry, title } = Astro.props;
---

<Section title={title}>
	<div class="text-xs">
		{
			entry.data.interests.map((interest, index, array) => (
				<div class="flex items-center odd:bg-richblue-50 py-0.5 px-4">
                    <Dot size={24} className="" />
					<p class="max-w-64 font-semibold">{interest}</p>
				</div>
			))
		}
	</div>
</Section>
