---
import { type CollectionEntry } from "astro:content";
import { Asterisk } from "lucide-react";
import { Section } from ".";

interface Props {
	entries: CollectionEntry<"skills">[];
	title: string;
}

const { entries, title } = Astro.props;
---

<Section title={title}>
	<div class="flex flex-col text-sm">
		{
			entries.map((entry) => {
				const data = entry.data;

				return (
					<div class="flex place-content-between items-center py-1 mx-4 border-b last:border-b-0 border-richgreen-100">
						<div class="flex flex-col">
							<h3 class="font-bold">{data.skill}</h3>
							<p class="">{data.description}</p>
						</div>
						<div class="flex w-16 justify-center">
                            {Array.from({ length: data.level }).map((_, index) => (
                                <Asterisk
                                    key={index}
                                    size={16}
                                    className="text-richgreen-900"
                                />
                            ))}
						</div>
					</div>
				);
			})
		}
	</div>
</Section>
